@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;500;600;700&family=Ubuntu&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


html {
    scroll-behavior: smooth;
}

body {

    --cl-1: #FFFFFF;
    --cl-2: #2a2a2a;
    --cl-3: #FFAA04;
    --cl-4: #1B1C1E;
    --cl-5: #f6f9fe;
    --cl-6: #0986F9;
    background-color: var(--cl-1);
    margin: 0;
}

.imgLogo {
    /* margin: -16px 0px 0px -28px; */
    max-width: 40%;
    width: 100%;
}

h2 {
    font-weight: 700;
    color: var(--cl-4);
    text-transform: capitalize;

}

h3 {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--cl-4);
}


a {
    display: inline-block;
    text-decoration: none;
}

.toggleMenu {
    display: none;
}

.cross {
    display: none;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
}

.container {
    max-width: 96%;
    margin: 0 auto;
}



/* Navigation */
header {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* padding: 2rem 0; */
}

nav ul {
    align-items: center;
    gap: 2em;
}

nav a {
    font-size: 16px;
    color: var(--cl-2);
}

nav a:hover {
    color: #4ac7b3;
}

/* Navigation  End*/

/* Page button  */
.page-btn {
    font-weight: 500;
    font-size: 16px;
    color: var(--cl-1);
    text-transform: uppercase;
    background: var(--cl-3);
    padding: .7rem 2rem;
    border-radius: 10px;
}

.page-btn.active,
.page-btn:hover {
    border-radius: 15px;
}

/* End page button  */

/* main content */

.main-container {
    margin: 0;
    background-image: url(./Assets/bg1.jpeg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50% 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    /* border: 2px solid red; */
    color: var(--cl-4);
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    padding: 3rem;
    overflow: hidden;
}

.main-content h1 {

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 3px;

}

.main-content p {
    font-weight: 500;
    font-size: 16px;
    color: var(--cl-2);
    padding: 2rem 0;
    margin: 0;

}

.blue-line {
    margin-top: 4px;
    width: 9rem;
    height: 7px;
    background-color: var(--cl-6);
    border-radius: 10px;
}



.exper {
    font-weight: 100;
    font-weight: normal;
}

.page-btn {
    font-weight: 500;
    font-size: 16px;
    color: var(--cl-1);
    cursor: pointer;
    text-transform: uppercase;
    background: var(--cl-3);
    padding: .7rem 2rem;
    border-radius: 10px;
    width: 13rem;
}

.page-btn:hover {
    background-color: #09ab3a;
}

/* End main  */

/* services section */

.services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

.services p,
h2 {
    margin: 0;
    padding: 0;
}

.blue-line1 {
    margin: 1em 0;
    width: 9rem;
    height: 7px;
    background-color: var(--cl-6);
    border-radius: 10px;
}

.box {
    margin-top: 2em;
    height: 12rem;
    width: 90vw;
    /*Horizontal*/
    margin-left: 14px;
    border: 4px dashed var(--cl-6);
    border-radius: 25px;
    margin-bottom: -10em;

}

.arr1 {
    height: 35px;
    width: 35px;
    border: 35px solid var(--cl-6);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    padding-top: 4px;
    margin-left: 13rem;

}

.arr2 {
    margin-top: -4.7em;
    height: 35px;
    width: 35px;
    border: 35px solid var(--cl-6);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    padding-top: 4px;
    margin-left: 35rem;

}

.arr3 {
    margin-top: -4.59em;
    height: 35px;
    width: 35px;
    border: 35px solid var(--cl-6);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    padding-top: 4px;
    margin-left: 55rem;

}


/* Cards Section  */
.cards-container {
    margin: 16px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid red; */
    gap: 5em;
}

.card {
    border-radius: 25px;
    width: 17rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    object-fit: contain;
    background-color: var(--cl-5);
    overflow: hidden;
    text-align: center;

    /* border: 3px solid purple; */


}

.card:hover {
    box-shadow: 2px 8px 16px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-content {
    padding: 5px 6px;
}

.card-content p {
    margin: 3px;
}

/* .card {
    position: relative;

   
    border-radius: 4px;
} */

.card img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 22px 22px 0 0;
}

.card-image {
    object-fit: contain;
    height: 15rem;
}

/* End Cards Section  */



/* End Services Section  */

/* Responsive Media Queries */
@media screen and (min-width:'1205px') {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width:1000px) {



    .main-container {
        background-image: none;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .main-content {
        margin: .5em;
        padding: .5em;
        height: 100vh;
        flex-direction: column;
        background-image: url(./Assets/hero.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 19em;

    }

    .hero-img {
        display: none;
    }



    .toggleMenu {
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
    }

    .toggleMenu.active {
        position: fixed;
        right: 5%;

    }

    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        margin: auto;
        min-height: 0;
        opacity: 0;
        transform: scale(0);

    }

    .navigation.active {
        position: fixed;
        min-height: 100vh;
        opacity: 1;
        background: var(--cl-1);
        z-index: 999;
        transform: scale(1);
    }

    nav ul {
        flex-direction: column;
    }

    .cards-container {
        margin: 12px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* border: 3px solid red; */
        gap: 3em;
    }

    .card {

        width: 60vw;
    }

    .card-image {
        object-fit: contain;
    }

    .box {
        display: none;
    }





}